{{#if this.isInputType}}
  <input 
    class="shadow appearance-none border border-grey-500 rounded w-full py-2 px-3 text-gray-900 mb-3 leading-tight focus:outline-none focus:shadow-outline"
    type="text"
    value={{this.selected}}
    onChange={{this.update}}
  >
{{else if this.isDropdownType}}
  <PowerSelect 
    @options={{this.options}} 
    @selected={{this.selected}}
    @onChange={{this.update}} as |name|>
    {{name}}
  </PowerSelect>
{{else if this.isObjectDropdownType}}
  <PowerSelect 
    @options={{this.options}} 
    @selected={{this.selected}}
    @onChange={{this.update}} as |object|>
    <span class="{{object.class}} p-1 rounded-full">O</span>
    {{object.id}}
  </PowerSelect>
{{/if}}