<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="flex md:flex-row-reverse flex-wrap">

      <div class="w-full md:w-5/6 bg-gray-100">
        <div class="container bg-gray-100 pt-16 px-6">
          <PageChooserModal/>
          <FullPreview
            @customSrc={{fullPageSource}}
            @showComponentList=true
              @customClassNames="full-preview-class"/>
        </div>
      </div>

      {{#if showSidebar}}
        <div class="w-full md:w-1/6 bg-gray-900 md:bg-gray-900 px-2 text-center fixed bottom-0 pt-2 md:top-0 md:left-0 h-16 md:h-screen md:border-r-4 md:border-gray-600">
          <a {{action "toggleSidebar"}}><svg class="fill-current text-teal-500 h-6 w-6 float-right"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM11.4 10l2.83-2.83-1.41-1.41L10 8.59 7.17 5.76 5.76 7.17 8.59 10l-2.83 2.83 1.41 1.41L10 11.41l2.83 2.83 1.41-1.41L11.41 10z"/></svg></a>
          <div class="absolute mx-auto float-right px-6 pt-6">
            <ul class="list-reset flex flex-row md:flex-col text-center md:text-left">
              {{#each-in sidebarSection as |key value|}}
                <li class="mr-3 flex-1">
                  <a {{action "transitionToCurrentPage" key}} class="bg-transparent block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 border-gray-800 md:border-gray-900 hover:border-green-500">
                    <span class="pb-1 md:pb-0 text-xs md:text-base md:text-gray-400 block md:inline-block">{{value}}</span>
                  </a>
                </li>
              {{/each-in}}
            </ul>
          </div>
        </div>
      {{else}}
        <div class="flex items-center w-full md:w-1/6">
          <a class="w-16 h-16 float-left"{{action "toggleSidebar"}}><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 7H2v6h8v5l8-8-8-8v5z"/></svg></a>
        </div>
      {{/if}}
    </div>
  </body>
</html>
