<div class="w-full">
  <div class="w-1/2 float-left p-10">
    <div class="flex flex-col flex-1 px-5 mt-5">
      <h5 class="mb-5">Modify your component:</h5>

      <div class="bg-gray-400 border-2 border-gray-600 rounded w-full h-64 overflow-scroll flex flex-wrap justify-center">
        {{#each this.currentPageComp.options as |option|}}
          <div class="bg-white flex flex-col justify-around p-5 border-2 mx-2 my-5 border-gray-900 shadow rounded hover:shadow-lg h-48 w-2/5 mx-5">
            <div class="flex justify-center">
              <h6>{{option.name}}:</h6>
            </div>

            <div class="m-t">
              <RenderFieldTpl
                @type={{option.type}}
                @options={{option.values}}
                @selected={{select-from-object currentPageComp.selectedOptions option.keyName}}
                @update={{action "updateField" currentPageComp option}}/>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <br>
    <a {{action "setInLayout"}}>{{{this.currentPageComp.htmlString}}}</a>
    <br>
    {{#if this.headerInLayout}}
      <LinkTo class="btn" @route="footer" disabled=> Next </LinkTo>
    {{/if}}
  </div>
  <div class="w-1/2 float-right border-l-2">
    <div class="m-10 pb-64 border-2">
      {{#if this.headerInLayout}}
        {{{this.currentPageComp.htmlString}}}
      {{/if}}
    </div>
  </div>
</div>
